<?php
return array(
    /*
     * define your salt which crypts the password
     */
    'salt' => 'change me',

    /*
     * define your identity colum in your database
     */
    'identity' => 'username',

    /*
     * define the password column
     */
    'credential' => 'password',

    'doctrineAuth' => array(
        'objectManager' => 'doctrine.entitymanager.orm_default',
        'objectRepository' => 'Profile\Repository\User' ,
        'identityClass' => 'Profile\Entity\User',
        'identityProperty' => 'username',
        'credentialProperty' => 'password'
    ),

    /*
     * defines which Imagetypes are allowed
     */
    'profileImage' => array(
        'jpeg', 'jpg', 'gif', 'png'
    ),

    'mail' =>array(
        'subject' => 'change me', //subject for registration mail
        'from' => 'change me', //set the mail adress from which the mail was send
    ),
    // set the SPTP-Options, will only used if usage == true else it use sendmail
    // for Mailtransport
    'smtp' => array(
        'usage' => true,
        'servername' => '',
        'host' => '',
        'connection_class'  => '',
        'username' => '',
        'password' => ''
    ),
);
